.contenedor-video{
    display: grid;
    grid-template-columns: minmax(0, 890px);
    background-color: blue;
    max-width: 890px;
    margin: auto;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border: 2px solid white;
}

.video{
       display: grid;
    justify-items: center;
    gap:50px; 
   
  
}

.texto-video{
    display: grid;
margin-top: 50px;
width: 100%;

   border-top: 2px solid white;
   border-bottom:2px solid white ;
   color: white
   
}

.titulo-video,
.subtitulo-video {
    margin-left: 50px;
}