@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

.contenedor-video{
    display: grid;
    grid-template-columns: minmax(0, 890px);
 
    max-width: 890px;
    margin: auto;
    justify-content: center;
    padding-top: 100px;
    
    border: 2px solid white;
}

.video{
       display: grid;
    justify-items: center;
    gap:50px; 
   
  
}
video {
  width: 100%;
  max-width: 560px;
  height: auto;
}

.texto-video{
    display: grid;
margin-top: 50px;
padding-top: 20px;
width: 100%;

   border-top: 2px solid white;
   
   color: white
   
}
.titulo-video{
    font-family: "Libre Bodoni";
    font-weight: bold;
}

.titulo-video,
.subtitulo-video {
    margin-left: 50px;
    margin-right: 50px;
}


