@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    padding: 0;
   
    background-color: rgb(0, 0, 0);
}
section{
    width: 500px;
    height: 500px;
}
menu{
    margin-top: 30px;
   padding-bottom: 20px;
    height: 50px;
    --background-color: aquamarine;
    display: grid;
    grid-template-areas: "logo home trailers  soundtracks";
    grid-template-columns: 1fr auto auto auto;
    
    justify-content: end;
    gap: 40px;
    align-items: center;
   border-bottom: 2px solid rgb(255, 255, 255);
   color: white;


    
}
.logo{
    grid-area: logo;
    background-color: aqua;
}
.home{
    grid-area: home;
  background-color: white;
  color: black;
  padding: 2px 4px 2px 4px;
   
}

.trailers{
    grid-area: trailers;
   
   
}
.trailers:hover{
   text-decoration: underline;
   text-underline-offset: 5px;
   text-decoration-thickness: 2px;
}
.soundtracks{
    grid-area: soundtracks;
  
    margin-right: 50px;
     
}


.soundtracks:hover{
   text-decoration: underline;
   text-underline-offset: 5px;
   text-decoration-thickness: 2px;
}

.portada{
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    height: 600px;
   
    width: calc(100% - 200px);
    grid-template-areas: "titulo imagen"
                "subtitulo imagen";
                align-items: center;
                 grid-template-columns: 35% 65%;
                 color: white;
                justify-content: center;
                align-items: center;
             
}
.titulo{
     
     background-color: blue;
   grid-area: titulo;
    font-size: 50px;
  
font-family: 'Montserrat';
font-weight: bolder;

}
.subtitulo{
   font-size: 30px;
    grid-area: subtitulo;
    height: 100%;
    font-family: 'Montserrat';
font-weight: bolder;
margin-left: 20px;
}
.imagen{
    grid-area: imagen;
    background-color: blueviolet;
   min-height: 100%;
   width: 100%;
   object-fit: cover;
}