@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

body{
    margin: 0;
    padding: 0;
   
    background-color: rgb(0, 0, 0);
}

section{
    width: 500px;
    height: 500px;
}
.menu-pequeño{
    display: none;
}
.menu-grande{
    margin-top: 30px;
   padding-bottom: 20px;
    height: 50px;
   
    display: grid;
    grid-template-areas: "logo home trailers  soundtracks";
    grid-template-columns: 1fr auto auto auto;
    
    justify-content: end;
    gap: 40px;
    align-items: center;
   border-bottom: 2px solid rgb(255, 255, 255);
   color: white;


    
}
.logo{
    grid-area: logo;
      font-family: "Libre Bodoni";
   font-weight: 900;
   font-size: 50px;
}
.home{
    grid-area: home;
 
   
}
.menu-grande{
    padding-right: 50px;
}
.trailers{
    grid-area: trailers;
   
   
}

.soundtracks{
    grid-area: soundtracks;
  
    margin-right: 50px;
     
}
.elegido{
    background-color: white;
  color: black;
  padding: 2px 4px 2px 4px; 
  text-decoration: none;
}
.no-elegido{
    text-decoration: none;
    color: inherit;
}
.no-elegido:hover{
 text-decoration: underline;
   text-underline-offset: 5px;
   text-decoration-thickness: 2px;
  
   
}

.portada{
    display: grid;
    padding-left:5% ;
    padding-right: 5%;
    margin-top: 100px;
    height: 600px;
   
    width: calc(90%);
    grid-template-areas: "contenedor-titulo imagen"
                "contenedor-titulo imagen";
              
                 grid-template-columns: minmax(0 ,35%) minmax(0 ,65%);
                 color: white;
                 gap: 30px;
                 padding-bottom: 100px;
                
}
.contenedor-titulo {
    grid-area: contenedor-titulo;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

}
.titulo{
    
  
    font-size: 50px;
  margin-bottom: 20px;
font-family: 'Montserrat';
font-weight: bolder;

}
.subtitulo{
   font-size: 30px;
   
   margin-bottom: 50px;
    font-family: 'Montserrat';
font-weight:normal;

}
.borde{
    border-bottom: 2px solid rgb(255, 255, 255);
}
.boton{
    text-align: center;
   width: 150px;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
      text-decoration: none;
      color: white;
      padding: 12px 30px;
      border: 2px solid white;
}
.boton:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.imagen{
    grid-area: imagen;
   
   height: 600px;
   width: 100%;
   object-fit: cover;
}
.link-novedades{
    text-decoration: none;
}
.contenedor-novedades{
    display: grid;
    grid-template-areas: "novedades boton";
    margin-top: 50px;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
     font-size: 50px;
    width: calc(90%);
font-family: 'Montserrat';
font-weight: bolder;
justify-content: space-between;
border-bottom: 2px solid white;
padding-bottom: 15px;
align-items: center;
}
.novedades{
    grid-area: novedades;
}
.boton-novedades{
    grid-area: boton;
      text-align: center;
   width: 100px;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
      text-decoration: none;
      color: white;
      padding: 12px 30px;
      border: 2px solid white;
}

.boton-novedades:hover{
     background-color: white;
    color: black;
    transition: 0.5s;
    
}
.contenedor-imagenes{
    margin-top: 30px; 
    margin-left: 100px;
    margin-right: 100px;
   margin-bottom: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(0,370px)); 
    border-bottom: 2px solid white;
    padding-bottom: 30px;

}

.contenedor-textoimagenes{
    border: 2px solid white;
}
.imagen-novedades{
    width: 100%;
   object-fit: cover;
    --background-color: brown;
    filter: grayscale(100%);
}
.contenedor-textoimagenes:hover .imagen-novedades {
    filter: none;
    transition: 0.5s;
}
.contenedor-textoimagenes:hover .texto-novedades {
    background-color: white;
    color: black;
    transition: 0.5s;
    
}
.texto-novedades{    
    width: calc(100% - 20px);
   padding-left: 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
   border-top: 2px solid white;
    padding-top: 20px;
    
}
.margen{
    margin-top: 50px;
}

@media(max-width:1253px){
  .portada{
  grid-template-areas: 
            "imagen"
            "contenedor-titulo"; 
        grid-template-columns: 100%; 
        
        height: auto; 
        margin-top: 50px;
}  
main{
    display: grid;
    grid-template-areas: "portada"
    "novedades";
}

.contenedor2{
    grid-area: novedades;
}
.contenedor-imagenes{
 
  
    grid-template-columns: repeat(3, minmax(0,370px)); 
   

}

}
@media(max-width:890px){
    .contenedor-imagenes{
 
  
    grid-template-columns: repeat(2, minmax(0,370px)); 
   

}
}

@media(max-width:722px){
    .contenedor-novedades{
        
    gap: 10px;
    grid-template-areas: "novedades" 
    "boton";}
       .contenedor-imagenes{
 
  
    grid-template-columns: repeat(1, 100%); 
   

}
}